*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  /* Created with https://www.css-gradient.com */
  background: #69B7F8;
  background: -webkit-linear-gradient(top left, #69B7F8, #3010D7);
  background: -moz-linear-gradient(top left, #69B7F8, #3010D7);
  background: linear-gradient(to bottom right, #69B7F8, #3010D7);
  /* background-image: url('sports_background.jpg'); */
  /*  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
}

#logo {
  width: 75px;
  /* margin-top: px; */
  /* left: auto; */
  /* right: auto; */
}


#secondpage {
  display: none;
}

#thirdpage {
  display: none;
}




form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f88e;
  border-radius: 10px;
  /* background-color: transparent; */
  box-shadow: 0 5px 30px black;
  opacity: "inherit";
}

h1 {
  margin: 0 0 20px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  /* background: rgba(255,255,255,0.1); */
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #d4e7ea;
  color: #585f63;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
  margin-bottom: 30px;
  border-radius: 10px;
}

textarea {
  resize: vertical;
}

p {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 13px;
  /* background-color: white; */
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}


.btn-container {
  display: flex;
}

.button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #1d1da1;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #5252c8;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin: 12px;
}

.button:hover {
  background-color: #5f5fcf;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5f5fcf;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.fa-brands {
  font-size: 25px;
  padding: 4px;

}

.fa-brands:hover{
  bbackground: linear-gradient(to right, #3d1a54fb, #271702);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  cursor: pointer;
}

.fa-instagram {
  background: linear-gradient(to right, #833AB4, #FD1D1D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.fa-linkedin {
  background: linear-gradient(to right, #0A66C2, #00A0DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.fa-facebook {
  background: linear-gradient(to right, #3B5998, #0E1F56);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}



@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

@media screen and (min-width: 300px)and (max-width: 480px) {

  form {
    max-width: 85%;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
  
    width: 80%;
  
  }

  .button{
    width: 80%;
    margin: 2px;
  }

}

@media screen and (max-width:360px) {
  .button{
    width: 40%;
    padding: 10px;
    margin: 10px;
  }
}